<div class="width-container">
    <table id="navbar" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                Christian Ferguson
                <img src="/assets/icons/camera.png" height="20px" />
            </td>
            <td>
                <a href="/">Home</a>
            </td>
            <td>
                <a href="/photos/">Gallery</a>
            </td>
            <td>
                <a href="/tags/">Browse tags</a>
            </td>
            <td>
                <a href="/contact/">Contact</a>
            </td>
        </tr>
    </table>
    <table id="navbar-mobile" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                Christian Ferguson
                <img src="/assets/icons/camera.png" height="40px" />
            </td>
            <td>
                <img id="menu-button" src="/assets/icons/menu.png" height="50px" />
            </td>
        </tr>
    </table>
</div>
<div id="navbar-mobile-overlay">
    <img id="menu-close" src="/assets/icons/x.png" height="50px" />
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/photos/">Gallery</a></li>
        <li><a href="/tags/">Browse tags</a></li>
        <li><a href="/contact/">Contact</a></li>
    </ul>
</div>
<script src="/assets/scripts/navbar.js"></script>
