<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
        <meta property="og:title" content="Browse tags">
        <title>Browse tags | Christian Ferguson</title>
    </head>
    <body>
        {% include navbar.html %}
        <div class="width-container browse-tags">
            <div class="centered">
                <h1>Browse tags</h1>
                <input type="text" id="search" placeholder="Type to search" autocomplete="off" />
                <h2 id="no-results">No results</h2>
                <ul>
                    {% assign sorted_tags = site.data.tags | sort %}
                    {% for tag in sorted_tags %}
                        <li><a href="/tag/{{ site.data.tag_urls[tag] }}/">{{ tag }}</a><sup>({{ site.data.tag_counts[tag] }})</sup></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <script src="/assets/scripts/search_tags.js"></script>
        {% include footer.html %}
    </body>
</html>
