<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
        <title>Browse tags | Christian Ferguson</title>
    </head>
    <body>
        {% include navbar.html %}
        <div class="width-container browse-tags">
            <div class="centered">
                <ul>
                    {% for tag in site.data.tags %}
                        <li><a href="/tag/{{ site.data.tag_urls[tag] }}/">{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
