<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
        <meta property="og:title" content="{{ page.title }}">
        {% if page.title == "Home" %}
            <meta property="og:description" content="Featured photos">
        {% else %}
            <meta property="og:description" content="{{ page.photos.size }} photos">
        {% endif %}
        <meta property="og:image" content="https://photos.fergusch.net/assets/photos/preview/{{ page.photos[0].file }}">
        <title>{{ page.title }} | Christian Ferguson</title>
    </head>
    <body>
        {% include navbar.html %}
        <div class="tap-hint"><img src="/assets/icons/info.png" />&nbsp;Tap images for more info</div>
        <div class="centered collection">
            {% if page.title contains "Tagged:" %}
                <h2>Tagged:</h2>
                <h1>{{ page.title | replace: "Tagged:", "" }}</h1>
            {% elsif page.title == "Home" %}
            {% else %}
                <h1>{{ page.title }}</h1>
            {% endif %}
            {% for photo in page.photos %}
                <a href="/photo/{{ photo.id }}/">
                    <img title="Tags: {{ photo.tags | join: ', ' }}" class="photo no-select" src="/assets/photos/preview/{{ photo.file }}" />
                </a>
            {% endfor %}
        </div>
        <div class="width-container centered">
            {{ page.content }}
        </div>
        {% include footer.html %}
    </body>
</html>
