<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
        <meta property="og:title" content="Photo #{{ page.photo.id }}">
        <meta property="og:description" content="Tags: {{ page.photo.tags | join: ', ' }}">
        <meta property="og:image" content="https://photos.fergusch.net/assets/photos/{{ page.photo.file }}">
        <title>Photo #{{ page.photo.id }} | {{ page.photo.tags | slice: 1, 4 | join: ", "}} | Christian Ferguson</title>
    </head>
    <body>
        {% include navbar.html %}
        <div class="centered">
            <img class="photo display no-select" src="/assets/photos/{{ page.photo.file }}" />
            <div class="width-container">
                <table class="metadata">
                    <tr>
                        <td>
                            <h4>Date taken</h4>
                            {{ page.photo.date }}
                        </td>
                        <td>
                            <h4>Tags</h4>
                            <ul class="tags">
                                {% for tag in page.photo.tags %}
                                    <li><a href="/tag/{{ site.data.tag_urls[tag] }}/">{{ tag }}</a></li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>